body {
    width: 300px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

#input-text {
    width: 100%;
    margin-bottom: 10px;
}

#copy-button {
    background-color: #e1e1e1;
    font-weight: bold;
    cursor: pointer;
}

#copy-status {
    color: green;
}